<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neckguardian">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 使背景常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 以下为蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 蓝牙权限配置完成 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 以下为MOD短信需要的权限 -->
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取使用Wi-Fi等 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取信息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 获取后台栈信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 以上为MOD短信需要的权限 -->


    <!-- 以下为获取手机唯一标识需要的权限 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />在上面已配置 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 在上面已配置 -->
    <!-- 以上为获取手机唯一标识需要的权限 -->


    <!-- 手机震动需要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 广播弹出对话框需要的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/myTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:theme="@style/myLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.pairing.PairingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.SMSLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105105842" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Mine.AboutUsActivity" />
        <activity android:name=".activity.Mine.SettingsActivity" />
        <activity android:name=".activity.Mine.AdviceActivity" />
        <activity android:name=".activity.Mine.MineManager" />
        <activity android:name=".activity.Mine_Settings.NetActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.Mine_Settings.PriActivity" />
        <activity android:name=".activity.Mine_Settings.InfoActivity" />
        <activity android:name=".activity.Mine_Settings.CacheActivity" />
        <activity android:name=".activity.Mine.account_settings.NameModifyActivity" />
        <activity android:name=".activity.pairing.ConnectSuccessActivity" />
        <activity android:name=".activity.pairing.AdjustingFirActivity" />
        <activity android:name=".activity.pairing.AdjustingSecActivity" />
        <activity android:name=".activity.Mine.machine.MachineActivity" />

        <service
            android:name=".activity.BloothLE.UartService"
            android:label="Boshi" />

        <activity android:name=".activity.Mine_Settings.ChooseRingActivity" />
        <activity
            android:name=".activity.RemindActivity"
            android:theme="@style/translucent" />

        <!--<receiver android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver-->>
        <receiver android:name=".receiver.RemindReceiver">
            <intent-filter>
                <action android:name="com.simo.receiver.LONG_TIME_REMIND" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.Mine.MyHealthActivity" />
        <activity android:name=".activity.GuidanceActivity" />
        <activity android:name=".game.exercise.NeckGym" />
        <activity android:name=".activity.pairing.AdjustingThiActivity" />
        <activity android:name=".game.exercise.BalanceMaster" />
        <activity android:name=".activity.Mine.HealthSetActivity" />
        <activity android:name=".game.exercise.GameHistory" />
        <activity android:name=".activity.Mine.HealthAnalyzeActivity"></activity>
    </application>

</manifest>
